.header-title {
    text-align: center;
}

#content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#signup {
    display: block;
}

#welcome-message {
    display: none;
}

#game {
    display: none;
}

#failure {
    display: none;
}

#leaderboard {
    position: absolute;
    display: none;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
}

#home-image {
    width: 500;
    height: 500;
}

.table {
    position: absolute;
    width: 500px;
    bottom: 5%;
    left: 40%;
    display: none;
}

#win {
    text-align: center;
    display: none;
}

.load {
    display: none;
}





