.header-title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#signup {
    display: block;
}

#welcome-message {
    display: none;
}

#game {
    display: none;
}

#failure {
    display: none;
}

#leaderboard {
    position: absolute;
    display: none;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
}

#home-image {
    width: 500;
    height: 500;
}

.leaderboard {
    display: none;
    text-align: center;
}

.table {
    position: absolute;
    width: 40%;
    bottom: 5%;
}

#win {
    text-align: center;
    display: none;
}

.load {
    padding: 15px 30px 14px 30px;
    margin: 5px auto;
    display: none;
    text-align: center;
    width: 100px;
}
 
#leave {
    margin: 5px auto;
    display: none;
    text-align: center;
    width: 100px;
} 






